<form id="loginForm" method="post" action="/$serviceName$servicePath" enctype="multipart/form-data">
    <h1>Upload Data</h1>
    <p>category: '$category'</p>
    <input type="file" name="files" required>
    <input type="submit" value="submit">
</form>
